<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.marveen.channels</string>
  <key>ProgramArguments</key>
  <array>
    <string>__MARVEEN_ROOT__/scripts/channels.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__MARVEEN_ROOT__</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>30</integer>
  <key>StandardOutPath</key>
  <string>__MARVEEN_ROOT__/store/channels.log</string>
  <key>StandardErrorPath</key>
  <string>__MARVEEN_ROOT__/store/channels.error.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/opt/node@22/bin:__HOME__/.local/bin:/opt/homebrew/bin:__HOME__/.bun/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>HOME</key>
    <string>__HOME__</string>
    <key>USER</key>
    <string>isti</string>
    <key>TERM</key>
    <string>xterm-256color</string>
    <key>LANG</key>
    <string>hu_HU.UTF-8</string>
  </dict>
</dict>
</plist>
